<h1>Listing users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <div class="info">
        <%= gravatar_for user %>
        <%= link_to user.name, user %>
      </div>

      <% if current_user.admin? && !current_user?(user) %>
        <div class="action">
          <%= link_to "delete", user, :method => :delete, :class => "delete",
                                        :data => { :confirm => "You sure?" } %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<br />
<%= will_paginate %>
<%= link_to 'New User', new_user_path %>
